<a href="https://colab.research.google.com/github/sjsjlee/study_financial_data_analysis/blob/main/exchange_rate_crawling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#환율 2021.07.15일자
fx_url = 'https://www.ibk.co.kr/fxtr/excRateList.ibk' + '?indate=' + '2021.07.15'
fx_df = pd.read_html(fx_url)[0]

In [ ]:
#현찰살때,현찰팔때 숫자에 ',' 제거
fx_df['현찰살때(스프레드)'] = fx_df['현찰살때(스프레드)'].str.replace(',','')

fx_df['현찰팔때(스프레드)'] = fx_df['현찰팔때(스프레드)'].str.replace(',','')

In [ ]:
#regular expression == regex(정규표현식) -> 따로 공부해야함
# [\.\d]+ - > 000.000(~%)에서 000.000 데이터만 추출하고자 함, +를 붙여야 전체가 나옴
# expand = True -> 데이터 프레임
# expand = False -> 시리즈 형태

fx_df['현찰살때(스프레드)'].str.extract(r'([\.\d]+)', expand = False)

0     1161.67
1     1055.78
2     1374.79
3      185.38
4     1609.96
5      865.26
6      816.71
7     1267.23
8      925.92
9      184.97
10     132.06
11     134.49
12     149.85
13     859.25
14      37.02
15     316.57
16     323.25
17    3948.68
18    3149.51
19     282.67
20       8.35
21       5.54
22      24.78
23      44.20
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
30        NaN
31        NaN
32        NaN
33        NaN
34        NaN
35        NaN
36        NaN
37        NaN
38        NaN
39        NaN
40        NaN
41        NaN
42        NaN
43       0.00
44       0.00
Name: 현찰살때(스프레드), dtype: object

In [ ]:
fx_df['현찰살때'] = fx_df['현찰살때(스프레드)'].str.extract(r'([\.\d]+)', expand = False)
fx_df['현찰팔때'] = fx_df['현찰팔때(스프레드)'].str.extract(r'([\.\d]+)', expand = False)

fx_df

     통화          통화명    매매기준율    송금보낼때  ... T/C살때   미화환산율     현찰살때     현찰팔때
0   USD         미국달러  1141.70  1152.50  ...  0.00  1.0000  1161.67  1121.73
1   JPY       일본100엔  1037.63  1047.48  ...  0.00  0.9088  1055.78  1019.48
2   EUR         EU유로  1348.23  1361.03  ...  0.00  1.1809  1374.79  1321.67
3   CNY         중국위안   176.56   178.23  ...  0.00  0.1546   185.38   167.74
4   GBP        영국파운드  1578.86  1593.85  ...  0.00  1.3829  1609.96  1547.76
5   AUD         호주달러   848.63   856.69  ...  0.00  0.7433   865.26   832.00
6   NZD       뉴질랜드달러   801.02   808.62  ...  0.00  0.7016   816.71   785.33
7   CHF        스위스프랑  1242.87  1254.67  ...  0.00  1.0886  1267.23  1218.51
8   CAD        캐나다달러   908.13   916.75  ...  0.00  0.7954   925.92   890.34
9   DKK       덴마크크로네   181.35   183.07  ...  0.00  0.1588   184.97   177.73
10  NOK      노르웨이크로네   129.48   130.71  ...  0.00  0.1134   132.06   126.90
11  SEK       스웨덴크로나   131.86   133.11  ...  0.00  0.1155   134.49   129.23
12  HKD         홍콩달러   146.97   148.36  ...  0.00  0.1287   149.85   144.09
13  SGD       싱가포르달러   842.65   850.65  ...  0.00  0.7381   859.25   826.05
14  THB         태국바트    34.93    35.26  ...  0.00  0.0306    37.02    32.84
15  SAR        사우디리얄   304.40   307.29  ...  0.00  0.2666   316.57   284.62
16  AED     U.A.E디르함   310.82   313.77  ...  0.00  0.2722   323.25   295.28
17  KWD      쿠웨이트디나르  3796.81  3832.87  ...  0.00  3.3256  3948.68  3531.04
18  BHD       바레인디나르  3028.38  3057.14  ...  0.00  2.6525  3149.51  2786.11
19  MYR     말레이시아링기트   271.80   274.38  ...  0.00  0.2381   282.67   258.21
20  IDR  인도네시아100루피아     7.88     7.95  ...  0.00  0.0069     8.35     7.41
21  VND      베트남100동     4.96     5.00  ...     -  0.0043     5.54     4.38
22  PHP        필리핀페소    22.74        -  ...     -  0.0199    24.78    21.38
23  TWD         대만달러    40.93        -  ...     -  0.0359    44.20    38.07
24  KZT      카자흐스탄텡게     2.68        -  ...     -  0.0023      NaN      NaN
25  INR         인도루피    15.31    15.45  ...     -  0.0134      NaN      NaN
26  BDT      방글라데시타카    13.46        -  ...     -  0.0118      NaN      NaN
27  MNT        몽골투그릭     0.40        -  ...     -  0.0004      NaN      NaN
28  BND       브루나이달러   842.96        -  ...     -  0.7383      NaN      NaN
29  PKR       파키스탄루피     7.16        -  ...     -  0.0063      NaN      NaN
30  MXN        멕시코페소    57.26        -  ...     -  0.0502      NaN      NaN
31  ARS      아르헨티나페소    11.87        -  ...     -  0.0104      NaN      NaN
32  BRL        브라질레알   223.35        -  ...     -  0.1956      NaN      NaN
33  HUF       헝가리포린트     3.76        -  ...     -  0.0033      NaN      NaN
34  CZK        체코코루나    52.75        -  ...     -  0.0462      NaN      NaN
35  RUB        러시아루블    15.35        -  ...     -  0.0134      NaN      NaN
36  PLN       폴란드즐로티   294.48        -  ...     -  0.2579      NaN      NaN
37  ILS       이스라엘셰켈   348.45        -  ...     -  0.3052      NaN      NaN
38  QAR        카타르리얄   308.36        -  ...     -  0.2701      NaN      NaN
39  JOD       요르단디나르  1610.30        -  ...     -  1.4104      NaN      NaN
40  TRY         터키리라   133.23        -  ...     -  0.1167      NaN      NaN
41  ZAR   남아프리카공화국랜드    78.33        -  ...     -  0.0686      NaN      NaN
42  EGP       이집트파운드    72.70        -  ...     -  0.0637      NaN      NaN
43  KHR          NaN    28.04      NaN  ...  0.00  0.0246     0.00     0.00
44  MMK          NaN     0.69      NaN  ...  0.00  0.0006     0.00     0.00

[45 rows x 11 columns]

In [ ]:
#'((.*?))%\)' -> 스프레드 값에서 %제거해 추출
fx_df['현찰살때(스프레드)'].str.extract('\((.*?)%\)', expand = False)

0      1.75
1      1.75
2      1.97
3      5.00
4      1.97
5      1.96
6      1.96
7      1.96
8      1.96
9      2.00
10     2.00
11     2.00
12     1.96
13     1.97
14     6.00
15     4.00
16     4.00
17     4.00
18     4.00
19     4.00
20     6.00
21    11.70
22     9.00
23     8.00
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
30      NaN
31      NaN
32      NaN
33      NaN
34      NaN
35      NaN
36      NaN
37      NaN
38      NaN
39      NaN
40      NaN
41      NaN
42      NaN
43     0.00
44     0.00
Name: 현찰살때(스프레드), dtype: object

In [ ]:
fx_df['현찰살때_스프레드'] = fx_df['현찰살때(스프레드)'].str.extract('\((.*?)%\)', expand = False)
fx_df['현찰팔때_스프레드'] = fx_df['현찰팔때(스프레드)'].str.extract('\((.*?)%\)', expand = False)

fx_df

     통화          통화명    매매기준율    송금보낼때  ...     현찰살때     현찰팔때 현찰살때_스프레드 현찰팔때_스프레드
0   USD         미국달러  1141.70  1152.50  ...  1161.67  1121.73      1.75      1.75
1   JPY       일본100엔  1037.63  1047.48  ...  1055.78  1019.48      1.75      1.75
2   EUR         EU유로  1348.23  1361.03  ...  1374.79  1321.67      1.97      1.97
3   CNY         중국위안   176.56   178.23  ...   185.38   167.74      5.00      5.00
4   GBP        영국파운드  1578.86  1593.85  ...  1609.96  1547.76      1.97      1.97
5   AUD         호주달러   848.63   856.69  ...   865.26   832.00      1.96      1.96
6   NZD       뉴질랜드달러   801.02   808.62  ...   816.71   785.33      1.96      1.96
7   CHF        스위스프랑  1242.87  1254.67  ...  1267.23  1218.51      1.96      1.96
8   CAD        캐나다달러   908.13   916.75  ...   925.92   890.34      1.96      1.96
9   DKK       덴마크크로네   181.35   183.07  ...   184.97   177.73      2.00      2.00
10  NOK      노르웨이크로네   129.48   130.71  ...   132.06   126.90      2.00      2.00
11  SEK       스웨덴크로나   131.86   133.11  ...   134.49   129.23      2.00      2.00
12  HKD         홍콩달러   146.97   148.36  ...   149.85   144.09      1.96      1.96
13  SGD       싱가포르달러   842.65   850.65  ...   859.25   826.05      1.97      1.97
14  THB         태국바트    34.93    35.26  ...    37.02    32.84      6.00      6.00
15  SAR        사우디리얄   304.40   307.29  ...   316.57   284.62      4.00      6.50
16  AED     U.A.E디르함   310.82   313.77  ...   323.25   295.28      4.00      5.00
17  KWD      쿠웨이트디나르  3796.81  3832.87  ...  3948.68  3531.04      4.00      7.00
18  BHD       바레인디나르  3028.38  3057.14  ...  3149.51  2786.11      4.00      8.00
19  MYR     말레이시아링기트   271.80   274.38  ...   282.67   258.21      4.00      5.00
20  IDR  인도네시아100루피아     7.88     7.95  ...     8.35     7.41      6.00      6.00
21  VND      베트남100동     4.96     5.00  ...     5.54     4.38     11.70     11.70
22  PHP        필리핀페소    22.74        -  ...    24.78    21.38      9.00      6.00
23  TWD         대만달러    40.93        -  ...    44.20    38.07      8.00      7.00
24  KZT      카자흐스탄텡게     2.68        -  ...      NaN      NaN       NaN       NaN
25  INR         인도루피    15.31    15.45  ...      NaN      NaN       NaN       NaN
26  BDT      방글라데시타카    13.46        -  ...      NaN      NaN       NaN       NaN
27  MNT        몽골투그릭     0.40        -  ...      NaN      NaN       NaN       NaN
28  BND       브루나이달러   842.96        -  ...      NaN      NaN       NaN       NaN
29  PKR       파키스탄루피     7.16        -  ...      NaN      NaN       NaN       NaN
30  MXN        멕시코페소    57.26        -  ...      NaN      NaN       NaN       NaN
31  ARS      아르헨티나페소    11.87        -  ...      NaN      NaN       NaN       NaN
32  BRL        브라질레알   223.35        -  ...      NaN      NaN       NaN       NaN
33  HUF       헝가리포린트     3.76        -  ...      NaN      NaN       NaN       NaN
34  CZK        체코코루나    52.75        -  ...      NaN      NaN       NaN       NaN
35  RUB        러시아루블    15.35        -  ...      NaN      NaN       NaN       NaN
36  PLN       폴란드즐로티   294.48        -  ...      NaN      NaN       NaN       NaN
37  ILS       이스라엘셰켈   348.45        -  ...      NaN      NaN       NaN       NaN
38  QAR        카타르리얄   308.36        -  ...      NaN      NaN       NaN       NaN
39  JOD       요르단디나르  1610.30        -  ...      NaN      NaN       NaN       NaN
40  TRY         터키리라   133.23        -  ...      NaN      NaN       NaN       NaN
41  ZAR   남아프리카공화국랜드    78.33        -  ...      NaN      NaN       NaN       NaN
42  EGP       이집트파운드    72.70        -  ...      NaN      NaN       NaN       NaN
43  KHR          NaN    28.04      NaN  ...     0.00     0.00      0.00      0.00
44  MMK          NaN     0.69      NaN  ...     0.00     0.00      0.00      0.00

[45 rows x 13 columns]

In [ ]:
fx_df = fx_df.drop(['현찰살때(스프레드)', '현찰팔때(스프레드)'], axis=1)

In [ ]:
fx_df.dtypes

통화            object
통화명           object
매매기준율        float64
송금보낼때         object
송금받을때         object
T/C살때         object
미화환산율        float64
현찰살때          object
현찰팔때          object
현찰살때_스프레드     object
현찰팔때_스프레드     object
dtype: object

In [ ]:
numeric_columns = ['매매기준율',	'송금보낼때',	'송금받을때',	'현찰살때(스프레드)',	'현찰팔때(스프레드)',	'T/C살때',	'미화환산율',	'현찰살때',	'현찰팔때',	'현찰살때_스프레드',	'현찰팔때_스프레드']

In [ ]:
#errors = 'raise'
#errors = 'coerce'
#errors = 'ignore'

#pd.to_numeric(fx_df['현찰살때'], errors='raise')

In [ ]:
for col in numeric_columns :

  fx_df[col] = pd.to_numeric(fx_df[col], errors = 'coerce')

KeyError: ignored

In [ ]:
krx_url = 'http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd'

In [ ]:
data = {'bld' : 'dbms/MDC/STAT/standard/MDCSTAT01501',
'mktId' : 'ALL',
'trdDd' : '20210716',
'share': '1',
'money': '1',
'csvxls_isNo': 'false'}

In [ ]:
import requests

binary = requests.post(krx_url, data=data).text

In [ ]:
#json 모듈 호출
import json

krx_json = json.loads(binary)

In [ ]:
krx_json.keys()

dict_keys(['OutBlock_1', 'CURRENT_DATETIME'])

In [ ]:
krx_df = pd.json_normalize(krx_json['OutBlock_1'])

In [ ]:
krx_df

     ISU_SRT_CD ISU_ABBRV  MKT_NM  ...           MKTCAP    LIST_SHRS MKT_ID
0        060310        3S  KOSDAQ  ...  134,418,745,265   46,271,513    KSQ
1        095570    AJ네트웍스   KOSPI  ...  293,107,566,700   46,822,295    STK
2        006840     AK홀딩스   KOSPI  ...  390,803,049,500   13,247,561    STK
3        054620    APS홀딩스  KOSDAQ  ...  380,352,221,650   20,394,221    KSQ
4        265520     AP시스템  KOSDAQ  ...  437,302,855,400   14,480,227    KSQ
...         ...       ...     ...  ...              ...          ...    ...
2567     000547   흥국화재2우B   KOSPI  ...    4,700,160,000      153,600    STK
2568     000545     흥국화재우   KOSPI  ...    8,332,800,000      768,000    STK
2569     003280      흥아해운   KOSPI  ...  247,494,403,980  239,125,028    STK
2570     037440        희림  KOSDAQ  ...   98,292,673,500   13,922,475    KSQ
2571     238490        힘스  KOSDAQ  ...  128,959,490,400   11,312,236    KSQ

[2572 rows x 16 columns]